{% assign attributes = character.system.attributes -%}
{% assign details = character.system.details -%}
{% assign traits = character.system.traits -%}
{% assign items = character.items -%}
<section class="character container">
  <div class="column">
    <section class="info">
      <div class="title-info">
        <div class="title">
          <span class="name">{{ character.name }}</span>
          <div class="level"><span>{{ details.level }}</span></div>
        </div>
        <div class="sub-title">
          <span class="player">{{ page.player }}</span>
          <span class="hp {% if attributes.hp.value >= attributes.hp.baseMax %}over-health{% endif %}">{{ attributes.hp.value }}/{{ attributes.hp.baseMax }}</span>
        </div>
      </div>
      <div class="photo" data-token-img="{{ character.prototypeToken.texture.src }}">
        <img src="{% if character.img contains 'https://' %}{{ character.img }}{% else %}https://guardians-gebkasarty.forge-vtt.com{{ character.img }}{% endif %}" alt="Character headshot">
      </div>
    </section>
    <section class="attributes">
      <section class="resistances">
        <section class="condition-immunities-group">
          <span>Condition Immunities</span>
          {% if traits.conditionImmunities.size > 0 %}
          <div class="condition-immunities">
            {% for immunity in traits.conditionImmunities %}
            <span class="condition-immunity {{ immunity | downcase }}">{{ immunity | capitalize }}</span>
            {% endfor %}
          </div>
          {% else %}
          <div class="resistances-none">
            <span><i>None</i></span>
          </div>
          {% endif %}
        </section>
        <div class="hr"></div>
        <section class="damage-immunities-group">
          <span>Damage Immunities</span>
          {% if traits.damageImmunities.size > 0 %}
          <div class="damage-immunities">
            {% for immunity in traits.damageImmunities %}
            <span class="damage-immunity {{ immunity | downcase }}">{{ immunity | capitalize }}</span>
            {% endfor %}
          </div>
          {% else %}
          <div class="resistances-none">
            <span><i>None</i></span>
          </div>
          {% endif %}
        </section>
        <div class="hr"></div>
        <section class="damage-resistances-group">
          <span>Damage Resistances</span>
          {% if traits.damageResistances.size > 0 %}
          <div class="damage-resistances">
            {% for resistance in traits.damageResistances %}
            <span class="damage-resistance {{ resistance | downcase }}">{{ resistance | capitalize }}</span>
            {% endfor %}
          </div>
          {% else %}
          <div class="resistances-none">
            <span><i>None</i></span>
          </div>
          {% endif %}
        </section>
      </section>
      <div class="movements"></div>
    </section>
    <div class="details">
      <div class="creature-types"></div>
      <div class="languages"></div>
    </div>
    
  </div>
  <div class="column">
    <fieldset class="item-filters">
      <legend>Item Filters</legend>
      <div>
        <input type="checkbox" id="objects" checked />
        <label for="objects">Inventory</label>
      </div>
      <div>
        <input type="checkbox" id="features" checked />
        <label for="features">Features</label>
      </div>
      <div>
        <input type="checkbox" id="maneuvers" checked />
        <label for="maneuvers">Maneuvers</label>
      </div>
      <div>
        <input type="checkbox" id="spells" checked />
        <label for="spells">Spells</label>
      </div>
      <div class="activation">
        <span>Cost</span>
        <div>
          <input type="checkbox" id="activate-action" checked />
          <label for="activate-action">Action</label>
        </div>
        <div>
          <input type="checkbox" id="activate-bonus" checked />
          <label for="activate-bonus">Bonus</label>
        </div>
        <div>
          <input type="checkbox" id="activate-reaction" checked />
          <label for="activate-reaction">Reaction</label>
        </div>
        <div>
          <input type="checkbox" id="activate-special" checked />
          <label for="activate-special">Special</label>
        </div>
        <div>
          <input type="checkbox" id="activate-none" checked />
          <label for="activate-none">None</label>
        </div>
      </div>
    </fieldset>
    <div class="items">
      <ul>
        <li class="item item-placeholder">No results</li>
        {%- assign order = 100 -%}
        {%- for item in items -%}
        {%- assign classes = ' type-' | append: item.type -%}
        {%- if item.system.featureType -%}
          {%- assign classes = classes | append: ' featuretype-'| append: item.system.featureType -%}
        {%- endif -%}
        <li class="item {{ classes }}" style="order: {% if item.sort > 0 %}{{ item.sort }}{% else %}{{ order }}{% assign order = order | plus: 1 %}{% endif %};" data-id="{{ item._id }}">
          <details>
            <summary>
              <div class="title">
              {% if item.img contains 'https://' -%}
              <img src="{{ item.img }}">
              {% else -%}
                {% assign firstChar = item.img | slice: 0 -%}
                {% if firstChar contains '/' -%}
              <img src="https://guardians-gebkasarty.forge-vtt.com{{ item.img }}">
                {% else -%}
              <img src="https://guardians-gebkasarty.forge-vtt.com/{{ item.img }}">
                {% endif -%}
              {% endif -%}
              <div>
                <div class="item-title">
                <span>{{ item.name }}</span>
              </div>
              <div class="description-toggle"></div>
              </div>
            </div>
          </summary>
          <div class="description">
            <!-- <span>{{ item.type }}</span> -->
            {{ item.system.description }}
          </div>
          </details>
        </li>
        {% endfor -%}
      </ul>
    </div>
  </div>
  {% if details.bio != "" %}
  <div class="column">
    {{ details.bio }}
  </div>
  {% endif %}
</section>