<section>
  <div class="page-links">
    <ul class="links">
      <li>
        <article class="link-box">
          <a href="{{ '/quickref/' | relative_url }}" class="link">
            <div class="icon icon-notebook"></div>
            <span class="title">Quick Reference</span>
          </a>
        </article>
      </li>
      <li>
        <article class="link-box">
          <a href="{{ '/characters/' | relative_url }}">
            <div class="icon icon-players"></div>
            <span class="title">Characters</span>
          </a>
        </article>
      </li>
      <li>
        <article class="link-box">
          <a href="{{ '/sessions/' | relative_url }}">
            <div class="icon icon-calendar"></div>
            <span class="title">Sessions</span>
          </a>
        </article>
      </li>
      <li>
        <article class="link-box">
          <a href="{{ '/turn-tracker/' | relative_url }}">
            <div class="icon icon-checklist"></div>
            <span class="title">Action Tracker</span>
          </a>
        </article>
      </li>
      <li>
        <article class="link-box">
          <a href="{{ '/keepsecret/' | relative_url }}">
            <div class="icon icon-mute"></div>
            <span class="title">Unknown</span>
          </a>
        </article>
      </li>
    </ul>
  </div>
</section>