<details class="tracker-container hidden">
  <summary class="tracker-title">
    Turn Tracker
  </summary>
  <div class="buttons">
    <button type="reset" class="reset">Reset</button>
  </div>
  <div class="tracker-characters">
    <div class="character mogli">
      <span class="name">Mogli</span>
      <div class="actions">
        <div class="action" title="Action">
          <label for="mogli-action">A</label><input type="checkbox" id="mogli-action" name="mogli-action">
        </div>
        <div class="action" title="Bonus Action">
          <label for="mogli-bonus">B</label><input type="checkbox" id="mogli-bonus" name="mogli-bonus">
        </div>
        <div class="action" title="Free Action">
          <label for="mogli-free">F</label><input type="checkbox" id="mogli-free" name="mogli-free">
        </div>
        <div class="action" title="Reaction">
          <label for="mogli-reaction">R</label><input type="checkbox" id="mogli-reaction" name="mogli-reaction">
        </div>
      </div>
    </div>
    <div class="character nepnik">
      <span class="name">Nepnik</span>
      <div class="actions">
        <div class="action" title="Action">
          <label for="nepnik-action">A</label><input type="checkbox" id="nepnik-action" name="nepnik-action">
        </div>
        <div class="action" title="Bonus Action">
          <label for="nepnik-bonus">B</label><input type="checkbox" id="nepnik-bonus" name="nepnik-bonus">
        </div>
        <div class="action" title="Free Action">
          <label for="nepnik-free">F</label><input type="checkbox" id="nepnik-free" name="nepnik-free">
        </div>
        <div class="action" title="Reaction">
          <label for="nepnik-reaction">R</label><input type="checkbox" id="nepnik-reaction" name="nepnik-reaction">
        </div>
      </div>
    </div>
    <div class="character myra">
      <span class="name">Myra</span>
      <div class="actions">
        <div class="action" title="Action">
          <label for="myra-action">A</label><input type="checkbox" id="myra-action" name="myra-action">
        </div>
        <div class="action" title="Bonus Action">
          <label for="myra-bonus">B</label><input type="checkbox" id="myra-bonus" name="myra-bonus">
        </div>
        <div class="action" title="Free Action">
          <label for="myra-free">F</label><input type="checkbox" id="myra-free" name="myra-free">
        </div>
        <div class="action" title="Reaction">
          <label for="myra-reaction">R</label><input type="checkbox" id="myra-reaction" name="myra-reaction">
        </div>
      </div>
    </div>
    <div class="character hakarl">
      <span class="name">Hákarl</span>
      <div class="actions">
        <div class="action" title="Action">
          <label for="hakarl-action">A</label><input type="checkbox" id="hakarl-action" name="hakarl-action">
        </div>
        <div class="action" title="Bonus Action">
          <label for="hakarl-bonus">B</label><input type="checkbox" id="hakarl-bonus" name="hakarl-bonus">
        </div>
        <div class="action" title="Free Action">
          <label for="hakarl-free">F</label><input type="checkbox" id="hakarl-free" name="hakarl-free">
        </div>
        <div class="action" title="Reaction">
          <label for="hakarl-reaction">R</label><input type="checkbox" id="hakarl-reaction" name="hakarl-reaction">
        </div>
      </div>
    </div>
    <div class="character groa">
      <span class="name">Gróa</span>
      <div class="actions">
        <div class="action" title="Action">
          <label for="groa-action">A</label><input type="checkbox" id="groa-action" name="groa-action">
        </div>
        <div class="action" title="Bonus Action">
          <label for="groa-bonus">B</label><input type="checkbox" id="groa-bonus" name="groa-bonus">
        </div>
        <div class="action" title="Free Action">
          <label for="groa-free">F</label><input type="checkbox" id="groa-free" name="groa-free">
        </div>
        <div class="action" title="Reaction">
          <label for="groa-reaction">R</label><input type="checkbox" id="groa-reaction" name="groa-reaction">
        </div>
      </div>
    </div>
    <div class="character merrek">
      <span class="name">Merrek</span>
      <div class="actions">
        <div class="action" title="Action">
          <label for="merrek-action">A</label><input type="checkbox" id="merrek-action" name="merrek-action">
        </div>
        <div class="action" title="Bonus Action">
          <label for="merrek-bonus">B</label><input type="checkbox" id="merrek-bonus" name="merrek-bonus">
        </div>
        <div class="action" title="Free Action">
          <label for="merrek-free">F</label><input type="checkbox" id="merrek-free" name="merrek-free">
        </div>
        <div class="action" title="Reaction">
          <label for="merrek-reaction">R</label><input type="checkbox" id="merrek-reaction" name="merrek-reaction">
        </div>
      </div>
    </div>
    <div class="character elrick">
      <span class="name">Elrick</span>
      <div class="actions">
        <div class="action" title="Action">
          <label for="elrick-action">A</label><input type="checkbox" id="elrick-action" name="elrick-action">
        </div>
        <div class="action" title="Bonus Action">
          <label for="elrick-bonus">B</label><input type="checkbox" id="elrick-bonus" name="elrick-bonus">
        </div>
        <div class="action" title="Free Action">
          <label for="elrick-free">F</label><input type="checkbox" id="elrick-free" name="elrick-free">
        </div>
        <div class="action" title="Reaction">
          <label for="elrick-reaction">R</label><input type="checkbox" id="elrick-reaction" name="elrick-reaction">
        </div>
      </div>
    </div>
  </div>
</details>
