<div class="tracker-wrapper" >
  <article class="tracker" >
    <div style="display: flex; align-items: center; justify-content: center;">
      <div>
        <label for="enable-tracker">Enable tracker</label>
        <input type="checkbox" id="enable-tracker" name="enable-tracker">
      </div>
    </div>
<!--     <div class="reset">
      <button class="reset-turn">Reset turn</button>
    </div>
    <div name="tracking">
      <div class="core">
        <div class="elrick">
          <span>Elrick</span>
          <label for="elrick-action">Elrick action count</label>
          <input id="elrick-action" type="number" name="elrick-action">
          <label for="elrick-bonus">Elrick bonus action count</label>
          <input id="elrick-bonus" type="number" name="elrick-bonus">
          <label for="elrick-free">Elrick free action count</label>
          <input id="elrick-free" type="number" name="elrick-free">
          <label for="elrick-reaction">Elrick reaction count</label>
          <input id="elrick-reaction" type="number" name="elrick-reaction">
        </div>
        <div>
          <span>Elrick</span>
          <label>Gróa</label>
          <label for="elrick-action">Elrick action count</label>
          <input id="elrick-action" type="number" name="elrick-action">
          <label for="elrick-bonus">Elrick bonus action count</label>
          <input id="elrick-bonus" type="number" name="elrick-bonus">
          <label for="elrick-free">Elrick free action count</label>
          <input id="elrick-free" type="number" name="elrick-free">
          <label for="elrick-reaction">Elrick reaction count</label>
          <input id="elrick-reaction" type="number" name="elrick-reaction">
        </div>
        <div>
          <span>Elrick</span>
          <label>Hákarl</label>
          <label for="elrick-action">Elrick action count</label>
          <input id="elrick-action" type="number" name="elrick-action">
          <label for="elrick-bonus">Elrick bonus action count</label>
          <input id="elrick-bonus" type="number" name="elrick-bonus">
          <label for="elrick-free">Elrick free action count</label>
          <input id="elrick-free" type="number" name="elrick-free">
          <label for="elrick-reaction">Elrick reaction count</label>
          <input id="elrick-reaction" type="number" name="elrick-reaction">
        </div>
        <div>
          <span>Elrick</span>
          <label>Merrek</label>
          <label for="elrick-action">Elrick action count</label>
          <input id="elrick-action" type="number" name="elrick-action">
          <label for="elrick-bonus">Elrick bonus action count</label>
          <input id="elrick-bonus" type="number" name="elrick-bonus">
          <label for="elrick-free">Elrick free action count</label>
          <input id="elrick-free" type="number" name="elrick-free">
          <label for="elrick-reaction">Elrick reaction count</label>
          <input id="elrick-reaction" type="number" name="elrick-reaction">
        </div>
        <div>
          <span>Elrick</span>
          <label>Mogli</label>
          <label for="elrick-action">Elrick action count</label>
          <input id="elrick-action" type="number" name="elrick-action">
          <label for="elrick-bonus">Elrick bonus action count</label>
          <input id="elrick-bonus" type="number" name="elrick-bonus">
          <label for="elrick-free">Elrick free action count</label>
          <input id="elrick-free" type="number" name="elrick-free">
          <label for="elrick-reaction">Elrick reaction count</label>
          <input id="elrick-reaction" type="number" name="elrick-reaction">
        </div>
        <div>
          <span>Elrick</span>
          <label>Myra</label>
          <label for="elrick-action">Elrick action count</label>
          <input id="elrick-action" type="number" name="elrick-action">
          <label for="elrick-bonus">Elrick bonus action count</label>
          <input id="elrick-bonus" type="number" name="elrick-bonus">
          <label for="elrick-free">Elrick free action count</label>
          <input id="elrick-free" type="number" name="elrick-free">
          <label for="elrick-reaction">Elrick reaction count</label>
          <input id="elrick-reaction" type="number" name="elrick-reaction">
        </div>
        <div>
          <span>Elrick</span>
          <label>Nepnik</label>
          <label for="elrick-action">Elrick action count</label>
          <input id="elrick-action" type="number" name="elrick-action">
          <label for="elrick-bonus">Elrick bonus action count</label>
          <input id="elrick-bonus" type="number" name="elrick-bonus">
          <label for="elrick-free">Elrick free action count</label>
          <input id="elrick-free" type="number" name="elrick-free">
          <label for="elrick-reaction">Elrick reaction count</label>
          <input id="elrick-reaction" type="number" name="elrick-reaction">
        </div>
      </div>
    </div>
    <div class="revert">
      <button class="revert-all">Revert to default</button>
    </div> -->
  </article>
</div>
