<div class="tracker-wrapper" >
  <article class="tracker" >
    <header>
      <div>
        <label for="enable-tracker">Enable</label>
        <input type="checkbox" id="enable-tracker" name="enable-tracker">
      </div>
      <div class="character-control">
        <label for="add-character">Add Character</label>
        <input type="text" id="add-character" name="add-character">
        <button class="add-character">+</button>
      </div>
    </header>
    <div class="custom-char-container">
      <ul class="character-list">
      </ul>
    </div>
  </article>
</div>
