---
---

* {
  border-radius: 4px;
}

body {
  background-color: dimgrey;
  background-image: url("{{ '/assets/img/background.png' | relative_url }}");
  background-repeat: repeat;
  background-blend-mode: overlay;
  font-family: "Signika", sans-serif;
  color: #191813
}

#container {
  background-image: none;
  display: flex;
}

input[type="text"] {
  font-size: 1.1em;
}

footer {
  font-size: small;
  font-variant: small-caps;
  margin-top: auto;
  width: 100%
}

#top-link-container {
  background-color: ivory;
  border: 1px solid darkgrey;
  border-radius: 8px;
  position: fixed;
  bottom: 32px;
  right: 10%;
  box-sizing: border-box;
  padding: 6px;
  cursor: pointer;
  display: none;
}

#top-link {
  background-image: url("{{ '/assets/img/top-arrow.png' | relative_url }}");
  background-size: contain;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  margin: 0 8px;
}

.toc ul, .toc li {
  list-style-type: none;
}

.toc li > ul {
  margin-bottom: 4px;
}

blockquote {
  font-size: 1.2em;
}

p {
  max-width: 40em;
}

.hidden {
  display: none;
}

.tracker-container {
  min-width: 200px;
  width: 200px;
  position: fixed;
  left: min(80px, 10%);
  bottom: 0;
  background-color: #e8e7de;
  border: #191813 solid 1px;
  padding: .25em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.tracker-title {
  cursor: pointer;
  padding: .25em .5em
}

.tracker-title::before {
  content: '►';
  transition: rotate .25s;
  display: inline-block;
}

details[open] .tracker-title::before {
  display: inline-block;
  rotate: 90deg;
}

.tracker-container summary::marker {
  content: none;
}

.tracker-container summary::-webkit-details-marker {
  display: none
}

details[open] .tracker-characters {
  height: 35vh;
}

.tracker-container button.reset {
  margin: .25em .5em;
  padding: .5em;
  margin-bottom: .75rem;
  display: flex;
  flex-wrap: wrap;
  border: #ccc solid 1px;
}

.tracker-characters {
  overflow: auto;
  border-top: #ccc solid 1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.tracker-characters .character {
  display: flex;
  margin: .25rem;
  padding: .25rem .5rem;
  flex-wrap: wrap;
}

.tracker-characters .character .name {
  width: 100%;
}

.tracker-characters .character .actions {
  display: flex;
}

.tracker-characters .character .actions .action {
  margin: 0 .25em;
}


.icon-minotaur { background-image: url({{ '/assets/img/minotaur.png' | relative_url }});}
.icon-squirrel { background-image: url({{ '/assets/img/squirrel.png' | relative_url }});}
.icon-barn-owl { background-image: url({{ '/assets/img/barn-owl.png' | relative_url }});}
.icon-shark-jaws { background-image: url({{ '/assets/img/shark-jaws.png' | relative_url }});}
.icon-dragon-orb { background-image: url({{ '/assets/img/dragon-orb.png' | relative_url }});}
.icon-bear-head { background-image: url({{ '/assets/img/bear-head.png' | relative_url }});}
.icon-knapsack { background-image: url({{ '/assets/img/knapsack.png' | relative_url }});}
.icon-vampire-time { background-image: url({{ '/assets/img/vampire-time.png' | relative_url }});}

:root {
  --color-bag: #7980ff;
  --color-elrick: #00ffee;
  --color-fenrir: #666666;
  --color-fiioria: #008800;
  --color-groa: #ff6600;
  --color-hakarl: #ff0000;
  --color-merrek: #663300;
  --color-mogli: #9900cc;
  --color-myra: #cc6633;
  --color-nepnik: #ff41dc;
}